body{
        color: #00796a;
}
a{
        color: #00796a;

}
.main-head {
	grid-area: header;
}
.content {
	grid-area: content;
}
.main-nav {
	grid-area: nav;
	padding-top: 10px;
	font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #00AD8E;
    border-radius: .25rem;
        background-color: #f9f9f9;
}
li{
	padding: .25rem !important;
}
.side {
	grid-area: sidebar;
}
.ad {
	grid-area: ad;
}
.main-footer {
	grid-area: footer;
}
.wrapper {
	width: 95%;
    margin-top: 10px;
	margin-left: 10px;
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: 
  "header header  header"
  "nav    content content"
  "nav    content content"
  "footer footer  footer"
}
nav ul {
 flex-direction: column;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 50%;
    max-height: 20%;
}

#alt1,#alt2,#alt3,#alt4,#alt5{
	width: 60%;
}

.bot-footer {
    background-color: #00796a;
    color: #fff;
    padding: 35px 0 95px 0;
}

.footer .bot-footer .source-org {
    float: left;
    font-size: 11px;
    margin-top: 42px;
    font-weight: 700;
}
.logo-footer-laureate {
    display: block;
    /*width: 100%;*/
    height: auto;
    /*max-width: 190px;*/
    float: right;
    padding-bottom: 5px;
}
.d-1of2 {
    float: left;
    padding-right: .75em;
    width: 50%;
}

.form-control[readonly] {
    background-color: #f9f9f9;
}
.legenda{
    width: 16em;
    margin-left: 15px;
    padding-left: 2px;

}
.radio{
    margin-left: 15px;
}

#seletor_materia{
    margin-top: 5.5em !important;
}